html, body {
	width: 100%; height: 100%;
	margin: 0; padding: 0;
}

body {
	font-family: sans-serif;
	background-color: rgb(245,245,245);
}

#page {
	margin: 0; padding: 20px;
}

#page .example {
	max-width: 640px;
	margin: 0 auto 20px auto; padding: 20px;
	background-color: rgb(255,255,255);
}

#page .example h2 {
	margin: 0 0 20px; padding: 0;
	font-size: 20px;
}

#page .example h3 {
	margin: 0 0 20px; padding: 0;
	font-size: 16px;
}

#page .example code {
	margin: 0 0 20px; padding: 5px 20px;
	display: block;
	background-color: rgb(245,245,245);
	border-left: 3px solid rgb(33,66,99);
}

#page .example p {
	margin: 0 0 20px 0; padding: 15px 20px;
	background-color: rgb(245,245,245);
	border-left: 3px solid rgb(33,99,33);
}

#page .example table {
	margin: 0 0 20px 0;
}

#page .example table th,
#page .example table td {
	padding: 5px 10px;
	text-align: left;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080;
}

.hljs-string,
.hljs-doctag {
  color: #d14;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #009926;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
